[build]
  functions = "netlify/functions"
  publish = "."
  [build.environment]
  NODE_VERSION = "20"


[functions]
  node_bundler = "esbuild"
  included_files = ["netlify/functions/**"]

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false

