[build]
  functions = "netlify/functions"
  publish = "."
  [build.environment]
  NODE_VERSION = "20"


[functions]
  node_bundler = "esbuild"
  included_files = ["netlify/functions/**"]

# No catch-all redirect needed for static site

